#work {
    margin-top: 12rem;
    text-align: center;
}

.work {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work__img1 {
    width: 300px;
    height: 250px;
}

.work__img2 {
    width: 200px;
    height: 250px;
}